conferenceScraper.asl.json
{
  "Comment": "ICLR Paper Scraper with Parallel Batches",
  "StartAt": "CountPapers",
  "States": {
    "CountPapers": {
      "Type": "Task",
      "Resource": "[ARN OF THE WRAPPER LAMBDA FUNCTION]",
      "ResultPath": "$.counter_result",
      "Next": "ProcessBatches",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "CountFailed"
        }
      ]
    },
    "ProcessBatches": {
      "Type": "Map",
      "ItemsPath": "$.counter_result.batches",
      "MaxConcurrency": 100,
      "ResultPath": "$.batch_results",
      "Iterator": {
        "StartAt": "ScrapeBatch",
        "States": {
          "ScrapeBatch": {
            "Type": "Task",
            "Resource": "[ARN OF THE SCRAPER LAMBDA FUNCTION]",
            "TimeoutSeconds": 900,
            "Retry": [
              {
                "ErrorEquals": [
                  "States.TaskFailed",
                  "States.Timeout"
                ],
                "IntervalSeconds": 30,
                "MaxAttempts": 2,
                "BackoffRate": 2
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "ResultPath": "$.batch_error",
                "Next": "BatchFailed"
              }
            ],
            "End": true
          },
          "BatchFailed": {
            "Type": "Pass",
            "Result": {
              "status": "failed"
            },
            "End": true
          }
        }
      },
      "Next": "AggregateResults"
    },
    "AggregateResults": {
      "Type": "Pass",
      "Parameters": {
        "total_papers.$": "$.counter_result.total_papers",
        "num_batches.$": "$.counter_result.num_batches",
        "batch_results.$": "$.batch_results"
      },
      "End": true
    },
    "CountFailed": {
      "Type": "Fail",
      "Error": "CountPapersFailed",
      "Cause": "Failed to count papers from the source"
    }
  }
}